/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$white: #ffffff;
$dark: #110a4a;
$primary: #0330a8;
$secondary: #d43c7d;
$info: #fe6551;
$success: #03a25e;
$warning: #e1cb03;
$danger: #f01c01;

$theme-colors: (
    "light":      #cadbf0,
    "dark":       #110a4a,
    "primary":    #0330a8,
    "secondary":  #d43c7d,
    "info":       #fe6551,
    "success":    #03a25e,
    "warning":    #e1cb03,
    "danger":     #f01c01,
);

@import "./styles/variables/variables";

@import "./styles/variables/theme-variables";
@import "bootstrap/scss/bootstrap";


@import "./assets/icons/tabler-icons/tabler-icons.css";

@import "./styles/layouts/sidebar";
@import "./styles/layouts/header";
@import "./styles/layouts/layouts";

@import "./styles/component/reboot";
@import "./styles/component/card";

@import "./styles/utilities/icon-size";
@import "./styles/utilities/background";


body {
  //font-family: "Open Sans", sans-serif;
  background: $light;
  color: $dark;
}

