<button *ngIf="!editingEnabled" type="button" class="btn btn-warning" (click)="toggleEditing()">Lijst
    aanpassen</button>
<button *ngIf="editingEnabled" type="button" class="btn btn-warning me-3"
    (click)="resetValues($event)">Annuleren</button>
<button *ngIf="editingEnabled" type="submit" class="btn btn-success me-3" (click)="onSubmit()">Opslaan</button>

<button *ngIf="editingEnabled" type="button" class="btn btn-danger"
    (click)="removeCareDemandList()">Verwijderen</button>

<div class="row" *ngIf="(careDemandList$ | async) as careDemandList">

    <div class="col-7">
        <div class="form-group my-3">
            <label for="title" class="h3">Titel</label>
            <input type="text" id="title" class="form-control" [value]="careDemandList.title">
        </div>

        <h3>Zorgvraag per postcode</h3>
        <div class="input-group mb-3">
            <input type="text" class="form-control" #zipInput>
            <input type="text" class="form-control" #amInput>
            <div class="input-group-text" id="addDemand" (click)="addDemand(+zipInput.value, +amInput.value)"><i
                    class="bi bi-x-lg"></i></div>
        </div>

        <div ngbAccordion>
            <h4>Postcodegebieden</h4>
            <ng-container
                *ngFor="let demandGroup of (groupedCareDemand$ | async); let last = last; let i = index; trackBy demandByIndex">
                <div ngbAccordionItem #accItem="ngbAccordionItem" *ngIf="demandGroup.length">
                    <div ngbAccordionHeader class="d-flex justify-content-between align-items-center">
                        <h5 class="my-1">{{(zipcodeRange$ | async)![i] | zipcodeRange:100:last}}</h5>
                        <button ngbAccordionToggle type="button" class="btn">
                            <i *ngIf="accItem.collapsed" class="bi bi-chevron-down"></i>
                            <i *ngIf="!accItem.collapsed" class="bi bi-chevron-up"></i>
                        </button>
                    </div>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Postcode</th>
                                            <th scope="col">Zorgvraag</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let entry of demandGroup">
                                            <td>{{entry[0]}}</td>
                                            <td>{{entry[1]}}</td>
                                            <td>
                                                <div class="delete-entry">
                                                    <i class="bi bi-trash" (click)="deleteDemand(entry[0])"
                                                        [ngClass]="editingEnabled ? '' : 'icon-disabled'"></i>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </ng-template>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>

    </div>
</div>