<form [formGroup]="careSupplyListForm" (ngSubmit)="onSubmit()" novalidate>
    <button *ngIf="!careSupplyListForm.enabled" type="button" class="btn btn-warning"
        (click)="careSupplyListForm.enable()">Lijst aanpassen</button>
    <button *ngIf="careSupplyListForm.enabled" type="button" class="btn btn-warning me-3"
        (click)="initForm()">Annuleren</button>
    <button *ngIf="careSupplyListForm.enabled" type="submit" class="btn btn-success">Opslaan</button>

    <div class="row">
        <div class="col-7">
            <div class="form-group my-3">
                <label for="title" class="h3">Titel</label>
                <input type="text" id="title" class="form-control" formControlName="title">
            </div>

            <h3>Zorg Teams</h3>

            <div ngbAccordion>
                <div ngbAccordionItem formArrayName="careSupply" #accItem="ngbAccordionItem"
                    *ngFor="let supply of careSupplyListForm.value.careSupply; let i = index; trackBy supplyById">

                    <div ngbAccordionHeader class="d-flex justify-content-between" [formGroupName]="i">
                        <div class="input-group">

                            <input [colorPicker]="supply.color" [style.background]="supply.color"
                                [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hsla'"
                                (colorPickerSelect)="changeColor($event, i)" class="color-picker-input input-group-text"
                                [cpPresetColors]="colorArray" [cpOKButton]="true" [cpColorMode]="'presets'">

                            <input formControlName="name" type="text" class="form-control" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon1" [id]="'teamname' + i">
                        </div>
                        <button ngbAccordionToggle type="button" class="btn">
                            <i *ngIf="accItem.collapsed" class="bi bi-chevron-down"></i>
                            <i *ngIf="!accItem.collapsed" class="bi bi-chevron-up"></i>
                        </button>
                    </div>

                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody [formGroupName]="i">
                            <ng-template>

                                <div class="mb-3">
                                    <label for="fteInput" class="form-label">Beschikbare FTE's</label>
                                    <input type="number" class="form-control" id="fteInput" formControlName="amount">
                                </div>

                                <div formArrayName="areaZipcodes" class="form-group row mb-3">
                                    <div class="col-4"
                                        *ngFor="let zipcode of supply.areaZipcodes; let j = index; trackBy zipCodeById">
                                        <div class="input-group mb-3"
                                            [ngClass]="getInnerFormControl(i,j).errors ? 'is-invalid' : ''">
                                            <input type="text" class="form-control" id="autoSizingInputGroup"
                                                placeholder="Postcode" [formControlName]="j">
                                            <div class="input-group-text" id="deleteCode" (click)="deleteZipcode(i, j)">
                                                <i class="bi bi-x-lg"></i>
                                            </div>

                                        </div>
                                        <div class="invalid-feedback">
                                            Ongeldige postcode.
                                        </div>

                                    </div>
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="autoSizingInputGroup"
                                            placeholder="Nieuwe postcode" #postcodeInput>
                                        <div class="input-group-text" id="addPostcode"
                                            (click)="addZipcode(postcodeInput, i)"><i class="bi bi-plus-lg"></i>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</form>