<div class="container">

    <h2>open een eerder project</h2>
    <select #select class="custom-select" (change)="onChange(select.value)">
        <option selected disabled *ngIf="!(projectList$ | async)?.length; else projectlist">Geen projecten beschikbaar
        </option>

        <ng-template #projectlist>
            <option hidden>Select a project:</option>
            <option [value]="item.id" *ngFor="let item of (projectList$ | async)">{{item.title}}</option>
        </ng-template>
    </select>


    <h2>Nieuw project</h2>
    <a [routerLink]="['/project']"> new project</a>
</div>