<div class="container-fluid">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Nieuw project</h5>

            <div class="form-group mb-3">
                <label for="projectTitle" class="form-label">Titel</label>

                <input type="text" class="form-control" id="projectTitle" [(ngModel)]="projectTitle">

            </div>
            <div class="form-group mb-3">
                <label for="projectDescription" class="form-label">Beschrijving</label>

                <textarea class="form-control" id="projectDescription" [(ngModel)]="projectDescription"></textarea>

            </div>
            <button type="submit" class="btn btn-primary me-3" (click)="initiateProject()">Maak project</button>

        </div>
    </div>







</div>