<router-outlet></router-outlet>

<!-- <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        States
    </div>
    <div class="offcanvas-body">
        Authenticated:
        <pre>{{authService.authState() | json}}</pre>
        ProjectState:
        <pre>{{projectService.state() | json}}</pre>
        <hr>
        CareDemandState:
        <pre>{{careDemandService.state() | json}}</pre>
        <hr>
        CareSupplyState:
        <pre>{{careSupplyService.state() | json}}</pre>

    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" id="offcanvas-button"
    (click)="offcanvasService.hasOpenOffcanvas()? offcanvasService.dismiss('closed'):open(content)">See States</button> -->