<div class="input-container">

    <div class="input-element">

        <h2>Nieuwe zorgbehoefte lijst</h2>

        <div class="form-group">
            <label for="uren-lijst-titel">Titel van de zorgbehoefte lijst:</label>
            <input type="text" class="form-control" id="uren-lijst-titel" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Plak hier de zorgbehoefte lijst</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="zorgUren"></textarea>
        </div>
        <button class="btn btn-success" (click)="addList()"> submit</button>

    </div>

    <div class="input-element">
        <h2>Bestaande zorgbehoefte lijsten</h2>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Selecteer een zorgbehoefte lijst:</label>
            <select class="form-select" id="exampleFormControlSelect1" [disabled]="careDemandLists.length === 0"
                (change)="selectList($event)">

                <option *ngIf="careDemandLists.length === 0; else lists">U heeft nog geen zorgbehoefte lijsten
                    opgeslagen
                </option>
                <ng-template #lists>
                    <option>Selecteer een lijst</option>
                    <option [value]="list.id" *ngFor="let list of careDemandLists">{{list.title}}</option>
                </ng-template>

            </select>
        </div>

        <div *ngIf="selectedList">
            <zorgplanner-edit-care-demand [selectedCareDemandList]="selectedList"
                (clearSelectedCareDemandList)="clearSelectedCareDemandList()"></zorgplanner-edit-care-demand>
        </div>
    </div>

</div>