<div class="input-container">

    <div class="input-element">
        <h2>Nieuwe zorgbeschikbaarheid lijst</h2>
        <div class="form-group">
            <label for="beschikbaarheidslijst">Titel van de beschikbaarheidslijst</label>
            <input type="text" class="form-control" id="beschikbaarheidslijst" [(ngModel)]="title">
        </div>

        <h3>ZorgTeams toevoegen</h3>

        <label for="teamName">Naam zorgTeam:</label>
        <input type="text" id="teamName" class="form-control" [(ngModel)]=newTeamName>
        <label for="teamZipcodes">Postcodegebieden:</label>
        <input type="text" id="teamZipcodes" class="form-control" [(ngModel)]=areaZipcodes>
        <label for="teamColor">Kleur voor het zorgTeam</label>
        <input id="teamColor" [(colorPicker)]="colorList[careSupplyEntries.length]"
            [style.background]="colorList[careSupplyEntries.length]" [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hsla'" [cpOKButton]="true" (colorPickerSelect)="changeColor($event)" />

        <button class="btn btn-primary" (click)="submitEntry()">toevoegen</button>
        <button type="button" class="btn btn-success" [disabled]="!careSupplyEntries.length" (click)="submitList()">
            zorgbeschikbaarheid lijst
            opslaan</button>
    </div>

    <div class="input-element">
        <h2>Bestaande zorgbeschikbaarheid lijsten</h2>

        <div class="form-group">
            <label for="careSupplySelect">Selecteer een zorgbeschikbaarheids lijst:</label>
            <select name="" id="careSupplySelect" class="form-select " [disabled]="careSupplyLists.length === 0"
                (change)="selectList($event)">
                <option *ngIf="careSupplyLists.length === 0; else lists">U heeft nog geen zorgbeschikbaarheid
                    lijsten opgeslagen</option>
                <ng-template #lists>
                    <option>Selecteer een lijst</option>
                    <option [value]="list.id" *ngFor="let list of careSupplyLists">{{list.title}}</option>
                </ng-template>

            </select>
        </div>


        <ng-container *ngIf="careSupplyEntries.length">
            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>Naam</th>
                            <th>gebied</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of careSupplyEntries">
                                <td>{{entry.name}}</td>
                                <td>{{entry.areaZipcodes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

        <div *ngIf="selectedList">

            <zorgplanner-edit-care-supply [careSupplyList]="selectedList"></zorgplanner-edit-care-supply>

            <button class="btn btn-danger" (click)="removeList(selectedList.id)">Verwijder lijst</button>

        </div>
    </div>
</div>