<div class="input-container">
    <div class="form-group">
        <label for="careSupplySelect">Selecteer een zorgbeschikbaarheids lijst:</label>
        <select name="" id="careSupplySelect" class="form-control" [disabled]="careSupplyLists.length === 0"
            (change)="selectList($event)">
            <option *ngIf="careSupplyLists.length === 0; else lists">U heeft nog geen zorgbeschikbaarheid
                lijsten opgeslagen</option>
            <ng-template #lists>
                <option>Selecteer een lijst</option>
                <option [value]="list.id" *ngFor="let list of careSupplyLists">{{list.title}}</option>
            </ng-template>

        </select>
    </div>
    <div class="new-list my-5">
        <h2>Nieuwe lijst</h2>
        <div class="form-group">
            <label for="beschikbaarheidslijst">Titel van de beschikbaarheidslijst</label>
            <input type="text" class="form-control" id="beschikbaarheidslijst" [(ngModel)]="title">
        </div>

    </div>

    <div class="my-5">
        <h3>ZorgTeams toevoegen</h3>

        <label for="teamName">Naam zorgTeam:</label>
        <input type="text" id="teamName" class="form-control" [(ngModel)]=newTeamName>
        <label for="teamPostalCodes">Postcodegebieden:</label>
        <input type="text" id="teamPostalCodes" class="form-control" [(ngModel)]=areaPostalCodes>
        <label for="teamColor">Kleur voor het zorgTeam</label>
        <input id="teamColor" [(colorPicker)]="colorList[careSupplyEntries.length]"
            [style.background]="colorList[careSupplyEntries.length]" [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hsla'" [cpOKButton]="true" (colorPickerSelect)="changeColor($event)" />
    </div>
    <button class="btn btn-primary" (click)="submitEntry()">toevoegen</button>
    <button type="button" class="btn btn-success" [disabled]="!careSupplyEntries.length" (click)="submitList()">
        zorgbeschikbaarheid lijst
        opslaan</button>

    <ng-container *ngIf="careSupplyEntries.length">
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <th>Naam</th>
                        <th>gebied</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of careSupplyEntries">
                            <td>{{entry.name}}</td>
                            <td>{{entry.areaPostalCodes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <div *ngIf="selectedList">
        <button class="btn btn-danger" (click)="removeList(selectedList.id)">Verwijder lijst</button>
        <div class="row">
            <div class="col-6">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <th>Naam</th>
                        <th>Postcodegebieden</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let supply of selectedList.careSupply">
                            <td>{{supply.name}}</td>
                            <td>{{supply.areaPostalCodes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>