<div class="input-container">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Selecteer een zorgbehoefte lijst:</label>
        <select class="form-control" id="exampleFormControlSelect1" [disabled]="careDemandLists.length === 0"
            (change)="selectList($event)">

            <option *ngIf="careDemandLists.length === 0; else lists">U heeft nog geen zorgbehoefte lijsten
                opgeslagen
            </option>
            <ng-template #lists>
                <option>Selecteer een lijst</option>
                <option [value]="list.id" *ngFor="let list of careDemandLists">{{list.title}}</option>
            </ng-template>

        </select>
    </div>

    <div class="form-group">
        <label for="uren-lijst-titel">Titel van de zorgbehoefte lijst:</label>
        <input type="text" class="form-control" id="uren-lijst-titel" [(ngModel)]="title">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Plak hier de zorgbehoefte lijst</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="zorgUren"></textarea>
    </div>
    <button (click)="addList()"> submit</button>

    <div *ngIf="selectedList">
        <button class="btn btn-danger" (click)="removeList(selectedList.id)">Verwijder lijst</button>

        <div class="row">
            <div class="col-6">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <th>Postcode</th>
                        <th>zorgbehoefte</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let demand of selectedList.careDemand | keyvalue">
                            <td>{{demand.key}}</td>
                            <td>{{demand.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>