<style>
    .header-table {
        width: 100%;

        tr {
            height: 0;

            span {
                font-size: 16px;
                line-height: 30px;
                color: #ffffff;
            }

            .align-right {
                text-align: right;
            }
        }
    }
</style>
<header>
    <table class="header-table">
        <tbody>
            <tr>
                <td>
                    <span>
                        KiloBryte
                    </span>
                </td>
                <td class="align-right">
                    <span>
                        <%= date %>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</header>