
.chevron-icon {
    transition: transform 0.3s ease;
}
.rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

.has-arrow {
    justify-content: space-between;
    .span-group {
        gap: 15px;
    }
}

.ti-circle {
    //font-size: 10px;
    margin-right: 5px;
}