


.icon-16 {
    height: 16px;
    width: 16px;
}

.has-arrow {
    justify-content: space-between;
    .span-group {
        gap: 15px;
    }
}

.ti-circle {
    //font-size: 10px;
    margin-right: 5px;
}