<div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Map</button>
            <ng-template ngbNavContent>

                <div class="svg-container">
                    <div class="popover" #myPopover="ngbPopover" [popperOptions]="popperOptions"
                        [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="'outside'"></div>
                    <svg></svg>
                    <ng-template let-zipcodeData="zipcodeData" #popContent>
                        <p>Zorgbehoefte: {{zipcodeData.demand ?? 0}} uur</p>
                        <p *ngIf="zipcodeData.assignedTeam">Team: {{zipcodeData.assignedTeam}}</p>
                    </ng-template>
                    <ng-template let-zipcodeData="zipcodeData" #popTitle>
                        <div class="d-flex justify-content-between">
                            <p class="d-inline mb-0">{{zipcodeData.zipcode}}</p>
                            <button type="button" class="btn btn-close btn-sm d-inline" aria-label="Close"
                                (click)="myPopover.close()"></button>
                        </div>
                    </ng-template>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="checkbox" (change)="onCheckboxChange($event)">Postcode
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Selecteer een zorgbehoefte lijst:</label>
                            <select class="form-control" id="exampleFormControlSelect1"
                                [disabled]="(careDemand().length === 0) ? true : false" (change)="selectList($event)">

                                <option value="test" *ngIf="careDemand().length === 0; else lists">U heeft nog geen
                                    zorgbehoefte lijsten
                                    opgeslagen
                                </option>
                                <ng-template #lists>
                                    <option [value]="0">Selecteer een lijst</option>
                                    <option [value]="list.id" *ngFor="let list of careDemand()">{{list.title}}</option>
                                </ng-template>

                            </select>
                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Selecteer een Zorgbeschikbaarheid lijst:</label>
                            <select class="form-control" id="exampleFormControlSelect2"
                                [disabled]="(careSupply().length === 0) ? true : false"
                                (change)="selectSupplyList($event)">

                                <option value="test" *ngIf="careSupply().length === 0; else lists2">U heeft nog geen
                                    zorgbehoefte lijsten
                                    opgeslagen
                                </option>
                                <ng-template #lists2>
                                    <option>Selecteer een lijst</option>
                                    <option [value]="list.id" *ngFor="let list of careSupply()"
                                        [attr.selected]="careSupplyService.selectedCareSupplyList() && careSupplyService.selectedCareSupplyList()!.id === list.id">
                                        {{list.title}}</option>
                                </ng-template>

                            </select>
                        </div>
                    </div>



                </div>


            </ng-template>
        </li>
        <li [ngbNavItem]="2">

            <button ngbNavLink>Zorgbehoefte</button>
            <ng-template ngbNavContent>
                <zorgplanner-care-demand (newCareDemandList)="addCareDemandList($event)"
                    (removeCareDemandList)="removeCareDemandList($event)"
                    [careDemandLists]="careDemand()"></zorgplanner-care-demand>

            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Zorgbeschikbaarheid</button>
            <ng-template ngbNavContent>
                <zorgplanner-care-supply (newCareSupplyList)="addCareSupplyList($event)"
                    (removeCareSupplyList)="removeCareSupplyList($event)"
                    [careSupplyLists]="careSupply()"></zorgplanner-care-supply>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>



</div>